
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1240px;
    margin: auto;
    padding: 0 20px;
}
h1{
    font-size: 55px;
    line-height: 1.3;
    padding-bottom: 30px;
}
h2{
    font-size: 45px;
    line-height: 1.3;
    padding-bottom: 30px;
}
p{
    padding-bottom: 30px;
}
.main{
    background-image: url('./images/futuristic-bg.png');
    background-repeat: no-repeat;
    min-height:700px;
    background-size: cover;
}
.main_header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar ul{
    padding-left: 80px;
}
.navbar ul li{
    display: inline;
    padding-right: 20px;
}
.navbar ul li a{
    color: #898888;
    text-decoration: none;
    font-size: 16px;
}
.btn-group .btn{
    padding: 10px 35px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.primary-btn{
    background-color: #f4694c;
    border: 1px solid #f4694c;
    color: #ffffff;
}
.secondary-btn{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 20px;
}
.tertiary-btn{
    color: #f4694c;
    border: 1px solid #f4694c;
    background-color: transparent;
}
.banner {
    padding: 100px 0;
}
.banner .banner-wrapper {
    display: flex;
    align-items: center;
}
.banner .banner-wrapper .content{
    color: #fff;
    width: 50%;
}

.image-column{
    text-align: center;
    width: 50%;
}
.game-card-row{
    padding: 100px 0 50px;
}
.game-card-row .card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.game-card-row .card .card-content {
    height: 300px;
    width: 33%;
    position: relative;
}
.game-card-row .card .card-content .bg-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.game-card-row h2{
    padding: 0 200px 50px;
    text-align: center;
}
.game-card-row .card  .card-body {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game-card-row .card  .card-body h3{
    font-size: 16px;
    line-height: 1;
    padding-bottom: 8px;
}
.game-card-row .card  .card-body p{
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1;
}
.game-card-row .card  .card-body img{
    width: 65px;
}
.game-card-row .card  .card-body .btn-group .btn{
    padding: 10px 15px;
}
.left-image-right-card{
    padding: 50px 0;
}
.left-image-right-card .content-wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
}
.left-image-right-card .content-wrapper img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.left-image-right-card .content-wrapper .tertiary-btn{
    margin-right: 20px;
}